<div class="container mt-5">
  <ul class="nav nav-tabs" id="productTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="list-tab" data-bs-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Lista de productos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="create-tab" data-bs-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Crear producto</a>
    </li>
  </ul>
  <div class="tab-content" id="productTabContent">
    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
      <h2 class="mb-4">Lista de productos</h2>
      <div *ngIf="errorMessages.length" class="alert alert-danger mt-3">
        <ul>
          <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text"><strong>Precio COP:</strong> ${{ product.price }}</p>
              <p class="card-text"><strong>En Inventario:</strong> {{ product.stock }} in stock</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <button class="btn btn-danger" (click)="deleteProduct(product.productId)">Borrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
      <div class="mt-5">
        <h3>Crear producto</h3>
        <form (ngSubmit)="createProduct()">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="newProduct.description" name="description" required>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Precio COP</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <input type="text" class="form-control" id="category" [(ngModel)]="newProduct.category" name="category" required>
          </div>
          <div class="mb-3">
            <label for="stock" class="form-label">Unidades en inventario</label>
            <input type="number" class="form-control" id="stock" [(ngModel)]="newProduct.stock" name="stock" required>
          </div>
          <button type="submit" class="btn btn-success">Crear Producto</button>
        </form>
      </div>
    </div>
  </div>
</div>
